*{
    margin: 0px;
    padding: 0px;
}

header a label{
    background-color: red;
    color: white;
    padding: 0rem 0.4rem 0rem 0.4rem;
    border-radius: 1rem;
    position: relative;
    left: 2.5rem;
    top: -1rem;
}

main{
    height: 100%;
    background-color:lightgray;
    text-align: center;
}

.title{
    padding: 2rem;
}

.a{
    padding-right: 20px;
    text-decoration: none;
}

.box{
    margin-top: 15px;
    margin-bottom: 15px;
}

.p{
    margin-bottom: 0px !important;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.card{
    margin: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0.1rem 0.8rem 1rem gray;
}

.card input{
    width: 5rem;
    margin: 0rem 0.8rem 0rem 0.8rem;
}

.img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    filter: opacity(90%);
}

.btn{
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 8px;
    background-color: black;
    color: white;
    box-shadow: 0.4rem 0.4rem 1rem gray;
}

.btn:hover{
    transform: scale(110%, 110%);
}

.btnsCart{
    margin: 0.1rem;
    padding: 0.3rem;
    border-radius: 4px;
    background-color: black;
    color: white;
    box-shadow: 0.4rem 0.4rem 1rem gray;
}

.btnsCart:hover{
    background-color: white;
    border-color: white;
    color: black;
}


table{
    display: inline-block !important;
}

.cart{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.thead{
    margin-bottom: 1rem;
}

.tbody{
    text-align: left;
}









/* 
//operador ternario
oldCart ? cart = oldCart : cart; */